.mainContainer{
	height: auto;
	justify-content: center;
	background: linear-gradient(#FAF4C0,#8FFF86,#47C83E);
	z-index: -1;
}
.mainContentAreaUno{
	border: 1px solid black;
	height: 100vh;
	z-index: -1;
}
.mainContentAreaDos{
	border: 1px solid black;
	height: 100vh;
}
.mainContentAreaTres{
	border: 1px solid black;
	height: 100vh;
}
.mainContentAreaQuatro{
	border: 1px solid black;
	height: 100vh;
}
